<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929130998858-059rolc0f3qoknbm9m8qktlq1mbpajko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929130998858-059rolc0f3qoknbm9m8qktlq1mbpajko</string>
	<key>API_KEY</key>
	<string>AIzaSyDivDkzHp7f3ajkAMap6naOhrFCNN0ofUk</string>
	<key>GCM_SENDER_ID</key>
	<string>929130998858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.whichday</string>
	<key>PROJECT_ID</key>
	<string>whichdayz-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>whichdayz-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929130998858:ios:e290a1010217ba8eff8ab3</string>
	<key>DATABASE_URL</key>
	<string>https://whichdayz-firebase.firebaseio.com</string>
</dict>
</plist>